.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  /* Nav bar sticks to top while scrolling */
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  /* img maintains it's aspect ratio */
  margin: 0 20px;
  margin-top: 18px;
}

/* Using Flexbox will align search bar and search icon */
.header__search {
  /* All elems will be in row-wise */
  display: flex;
  /* this elem will take entire free space and rest will take as content contained */
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin: 0 10px;
}
